Xft.dpi:96
Xft.antialias:false
Xft.rgba:rgb
Xft.hinting:true
Xft.hintstyle:hintslight

URxvt.loginShell:true
URxvt.inputMethod:IBus
URxvt.depth:32

URxvt.mouseWheelScrollPage:true
URxvt.scrollBar:false
!URxvt.scrollBar_floating:false
!URxvt.scrollstyle:rxvt
URxvt.scrollTtyOutput:false
URxvt.scrollWithBuffer:true
URxvt.scrollTtyKeypress:true

URxvt.cursorBlink:true
URxvt.cursorUnderline:false

URxvt.saveLines:100
URxvt.borderLess:false

!URxvt.allow_bold:false
URxvt.font:xft:Monaco:style=Regular:antialias=false:size=12,xft:WenQuanYi Micro Hei Mono:regular:size=12:minspace=true,xft:Source Han Sans CN:style=Regular:size=12
URxvt.boldfont:xft:Source Code Pro:style=Regular:antialias=true:size=12,xft:Source Han Sans CN:style=Regular:size=12

!URxvt.inheritPixmap:false
URxvt.transparent:true
!URxvt.shading:20
URxvt.intensityStyles: false

URxvt.perl-ext-common: default,matcher,font-size
URxvt.url-launcher: /usr/bin/google-chrome-stable
URxvt.matcher.button: 1

! 实现ctrl+shift+c/v的复制粘贴
! https://unix.stackexchange.com/questions/444773/how-to-disable-the-ctrlshift-binding-iso-14755-in-urxvt
! https://unix.stackexchange.com/questions/294337/rebinding-ctrl-alt-cv-to-ctrl-shift-cv-in-urxvt-9-20
URxvt.iso14755: false
URxvt.iso14755_52: false

! 一定要写全名及大写的C/V,否则无效
! Shift/Control 顺序无关
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard


! 禁用之前的复制粘贴方案
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

! https://github.com/majutsushi/urxvt-font-size
! 字体大小调整
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-equal:  font-size:reset

! 背景透明
URxvt.tintColor: lightgray
URxvt.shading: 60
URxvt.scrollBar_right: true
URxvt.background:            black
URxvt.foreground:            lightgray

